@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.calculatorBody,
.display {
    width: 300px;
}

.calculatorBody {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 8px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.buttons button {
    font-size: 40px;
    width: 75px;
    height: 75px;
}

.display {
    box-sizing: border-box;
    text-align: right;
    font-size: 40px;
    height: 100px;
    padding: 5px 10px;
}

.footer {
    font-size: 14px;
    font-family: 'Indie Flower', cursive;
}