@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.calculatorBody,
.display {
    width: 300px;
}

.calculatorBody {
    display: flex;
    flex-direction: column;
    border: 6px solid black;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.buttons button {
    font-size: 40px;
    width: 75px;
    height: 75px;
    border-radius: 16%;
    font-family: 'Orbitron', sans-serif;
}

.displays {
    border: 2px solid black;
    border-top: none;
    overflow: hidden;
    
}

.display,
.intStepsDisplay {
    box-sizing: border-box;
    text-align: right;
    height: 70px;
    padding: 5px 10px;
    overflow: hidden;
    background-color: rgb(140, 160, 140);
    font-family: 'VT323', monospace;
}

.display {
    font-size: 60px;
}

.intStepsDisplay {
    font-size: 35px;
}

.orangeButtons {
    background-color: orange;
    color: black;
}

.greenButtons {
    background-color: rgb(91, 212, 67);
    color: black;
}

.redButtons {
    background-color: rgb(211, 79, 27);
    color: black;
}

.footer {
    font-size: 14px;
    font-family: 'Indie Flower', cursive;
}